main {
  margin: auto;
  padding: 0 1rem 0 1rem;
}

.navContainer {
  top: 0;
  position: sticky;
  background-color: var(--variable-white);
  display: flex;
  width: 100%;
  height: 50px;
}

.navIconContainer {
  display: flex;
  width: 100px;
}

.navIcon {
  margin: auto;
  width: 35px;
  height: 35px;
}

.navSearchFormContainer {
  margin: 0 auto;
  width: calc(100% - 210px);
  height: 100%;
}

.navSearchFormInput {
  background-color: var(--variable-white);
  width: 100%;
  height: calc(100% - 2px);
  border: none;
}

.navSearchFormInput:focus {
  outline: none;
}

.userProfile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  border-radius: 25px;
  background-color: var(--variable-darknavy);
}

.userProfileMainContainer {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
}

.userProfileImage {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  border-radius: 25%;
  overflow: hidden;
  object-fit: cover;
}

.userDefaultInfoContainer {
  width: calc(100% - 1rem - 100px);
}

.userLogin {
  font-size: 1.2rem;
  color: var(--variable-white);
}

.userName {
  font-size: 0.9rem;
  color: var(--variable-navy);
}

.userRankInfo {
  display: flex;
  flex-wrap: wrap;
}

.userRankInfoComponent {
}

.userRankInfoKey {
  color: var(--variable-navy);
}

.userRankInfoValue {
  color: var(--variable-red);
}

.userRankInfoSeperator {
  align-self: center;
  margin: 0 0.5rem 0 0.5rem;
  color: var(--variable-navy);
}

.userProfileCoalitionContainer {
  margin: 1rem auto 1rem auto;
  padding: 0 1rem 0 1rem;
  display: flex;
}

.coalitionImage {
  margin: auto;
}

.coalitionFlag {
  margin: 0 1rem 0 1rem;
  width: 40px;
  fill: #ffc221;
}

.coalitionMark {
  position: absolute;
  translate: -56px 5px;
  width: 40px;
}

.coalitionName {
  color: #ffc221;
  font-size: 1.1rem;
}

.coalitionUserInfoKey {
  color: var(--variable-navy);
}

.coalitionUserInfoValue {
  color: var(--variable-red);
}

.userProfileBlackholeContainer {
  margin: auto;
  display: flex;
}

.userBlackholeFace {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto 1rem auto 0;
  fill: darkred;
}

.userBlackhole {
  color: darkred;
  margin: auto;
  font-size: 2rem;
}

@media only screen and (min-width: 1250px) {
  main {
    margin: auto;
    width: 1200px;
  }
}
