main {
  margin: auto;
  padding: 0 1rem 0 1rem;
  max-width: 1200px;
}

.navContainer {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1rem 0 1rem;
  height: 50px;
}

.navIconContainer {
  display: flex;
  width: 100px;
}

.navIcon {
  margin: auto;
  width: 35px;
  height: 35px;
  fill: var(--variable-gray);
}

.navSearchFormContainer {
  margin: 0 auto;
  width: calc(100% - 210px);
  height: 100%;
}

.navSearchFormInput {
  background-color: var(--variable-darknavy);
  color: var(--variable-gray);
  width: 100%;
  height: calc(100% - 2px);
  border: none;
}

.navSearchFormInput:focus {
  outline: none;
}

.userProfile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  border-radius: 25px;
  background-color: var(--variable-darknavy-background);
}

.userProfileMainContainer {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
}

.userProfileImage {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  border-radius: 25%;
  overflow: hidden;
  object-fit: cover;
}

.userDefaultInfoContainer {
  width: calc(100% - 1rem - 100px);
}

.userLogin {
  font-size: 1.5rem;
  color: var(--variable-white);
}

.userName {
  color: var(--variable-navy);
}

.userRankInfo {
  display: flex;
  flex-wrap: wrap;
}

.infoKey {
  color: var(--variable-navy);
}

.infoValue {
  color: var(--variable-red);
}

.userRankInfoSeperator {
  align-self: center;
  margin: 0 0.5rem 0 0.5rem;
  color: var(--variable-navy);
}

.userProfileCoalitionContainer {
  margin: 1rem auto 1rem auto;
  padding: 0 1rem 0 1rem;
  display: flex;
}

.coalitionImage {
  margin: auto;
}

.coalitionFlag {
  margin: 0 1rem 0 1rem;
  width: 40px;
  fill: #ffc221;
}

.coalitionMark {
  position: absolute;
  translate: -56px 5px;
  width: 40px;
}

.coalitionName {
  color: #ffc221;
  font-size: 1.5rem;
}

.userProfileBlackholeContainer {
  margin: 1rem auto 1rem auto;
  padding: 0 1rem 0 1rem;
  display: flex;
}

.userBlackholeFace {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto 1rem auto 0;
  fill: darkred;
}

.userBlackhole {
  color: darkred;
  margin: auto;
  font-size: 2rem;
}

.userDetailContainer {
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.userDetailComponent {
  flex: 1 1 200px;
  background-color: var(--variable-darknavy-background);
  border-radius: 25px;
  padding: 1rem 1rem 1rem 1rem;
  margin: 2rem 0 0 0;
  flex-basis: auto;
  width: auto;
  height: auto;
}

.userDetailHeader {
  font-size: 1.3rem;
  color: var(--variable-red);
}

.userDetailSeperator {
  margin: 0.5rem 0;
  border-bottom: solid 1px var(--variable-darknavy);
}

.userDetailBody {
  display: grid;
}

.detailInfoKey {
  color: var(--variable-navy);
  font-size: 1.1rem;
}

.detailInfoValue {
  font-size: 1.3rem;
  color: var(--variable-white);
}

.userDetailFooter {
  color: var(--variable-gray);
}
