main {
  margin: auto;
  padding: 0 2rem 2rem 2rem;
  max-width: 1200px;
}

.userProfile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  border-radius: 25px;
  background-color: var(--variable-darknavy-background);
}

.userProfileMainContainer {
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
}

.userProfileImage {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
  border-radius: 25%;
  overflow: hidden;
  object-fit: cover;
}

.userProfileTabContainer {
  margin: 3rem 0 3rem 0;
  border-bottom: 1px solid var(--variable-darknavy-background);
}

.userProfileTab button {
  background-color: var(--variable-red);
}

.userDefaultInfoContainer {
  width: calc(100% - 1rem - 100px);
}

.userLogin {
  font-size: 1.5rem;
  color: var(--variable-gray);
}

.userName {
  margin-top: 0.1rem;
  color: var(--variable-navy);
}

.userRankInfo {
  display: flex;
  flex-wrap: wrap;
}

.infoKey {
  color: var(--variable-navy);
}

.infoValue {
  color: var(--variable-red);
}

.userRankInfoSeperator {
  align-self: center;
  margin: 0 0.5rem 0 0.5rem;
  color: var(--variable-navy);
}

.userProfileCoalitionContainer {
  margin: 1rem auto 1rem auto;
  padding: 0 1rem 0 1rem;
  display: flex;
}

.coalitionImage {
  margin: 0.5rem auto auto auto;
}

.coalitionFlag {
  margin: 0 1rem 0 1rem;
  width: 40px;
  fill: #ffc221;
}

.coalitionMark {
  position: absolute;
  translate: -56px 5px;
  width: 40px;
}

.coalitionName {
  color: #ffc221;
  font-size: 1.5rem;
}

.userProfileBlackholeContainer {
  margin: 1rem auto 1rem auto;
  padding: 0 1rem 0 1rem;
  display: flex;
}

.userBlackholeFace {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto 1rem auto 0;
  fill: darkred;
}

.userBlackhole {
  color: darkred;
  margin: auto;
  font-size: 2rem;
}
